*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.d:hover{
    
 border: 10px solid royalblue;

}




.d{
  margin: 5px;
  width: 400px;
  background-color: rgb(251, 255, 0);
  height: 400px;
}



.f{
  width: 350px;
  height: 620px;
  background-color: mediumblue;
}

.i{

  width: 250px;
  height: 220px;
  background-color: lime;

}


.gg{
  width: 400px;
  height: 300px;
  background-color: salmon;
}


h1:hover{
  border: 10px solid royalblue;
}

h1{
  
  width: 100%;
  text-align: center;
  font-size: 200px;
  
}

.div{
     display: flex;
     width: 70%px;
     padding: 50px;
     margin: auto;
     flex-wrap: wrap;
     justify-content: center;
     background-color: rgb(255, 1, 1);
}